body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #A2CB8B, #a1e8ed);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

h3{
  color: #84B179;
  font-size: 30px;
}

h4{
  font-size: 17px;
}

a:hover {
  color: rgb(24, 139, 45);
  font-size: 18px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #000000;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #84B179;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;
}

.error {
  color: red;
  font-size: 14px;
  display: none;
}

.success {
  color: green;
  font-size: 14px;
  display: none;
}



/* MOBILSTØRRELSE */
@media (max-width: 600px) {
  body {
    padding: 1rem;
    align-items: flex-start; /* bedre på mobil */
  }

  .login-container {
    width: 100%;
    padding: 1.5rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  input {
    font-size: 16px; /* hindrer zoom på mobil */
    padding: 12px;
  }

  button {
    padding: 12px;
    font-size: 16px;
  }
}