<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrer deg</title>
  <link rel="stylesheet" href="/prosjekt/public/styles.css"> 
</head>
<body>
  
  <div class="login-container">
    <h3>Registrer deg!</h3>
    <input type="text" id="username" placeholder="Brukernavn">
    <input type="password" id="password" placeholder="Passord">
    <button onclick="login()">Registrer</button>
    <h4>Gå til  <a href="/login.ejs">Logg inn</a></h4>
  </div>


</body>
</html>